  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">
        <img src="https://cdn3.iconfinder.com/data/icons/fantasy-and-role-play-game-adventure-quest/512/Potion-256.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        MyWeb
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>